* {
  user-select: none;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  margin-left: 8em;
  overflow-y: hidden;
}

#message {
  height: 100vh;
  line-height: min(9vw, 13.5vh);
  font-weight: 900;
  font-size: min(6vw, 9vh);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: perspective(600px) rotateY(60deg) translateZ(-100px);
}

#read {
  font-size: min(23vw, 34.5vh);
  margin-left: max(-2.2vw, -3.3vh);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  letter-spacing: 0.1em;
}

p {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: -2px -2px #fff, 2px 2px #fff, 2px -2px #fff, -2px 2px #fff,
    -2px -2px #fff, 1px 1px #fff, 1px -1px #fff, -1px 1px #fff;
}

a,
a:visited {
  color: #000000;
  text-decoration: none;
}
