html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0);
  font-family: sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

p {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #fff;
}

a,
a:visited {
  font-size: 1.2rem;
  color: #fff;
}

#heart {
  font-size: 1.6rem;
}

@media (max-width: 480px) {
  p {
    font-size: 0.6rem;
    margin: 0.5rem;
  }

  a,
  a:visited {
    font-size: 0.6rem;
  }

  #heart {
    font-size: 0.8rem;
  }
}
